/* --------------------------------------Home page */
body {
    font-family: 'Quicksand', sans-serif;
}

.container-fluid {

    height: 100vh;
    width: 100vw;
    opacity: 0.95;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    line-height: normal;
    border-radius: 1rem;
    background-color: #00c985;
    box-shadow: 0 4px 0 0 #00a06a;
    border: none;
    text-transform: uppercase;
    color: white;
}

.btn:hover {
    background-color: #02e095;
    color: white;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

/* --------------------------------------Media queries for Home page */
/* extra small and small devices */
@media only screen and (min-width: 0px) {
    .btn {
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
    }

    .container-fluid {
        /* image source: https://www.freepik.com/free-vector/quiz-background-with-flat-objects_1022603.htm#page=1&query=quiz&position=36 */
        background: url('../images/quiz-bg-image.jpg') no-repeat 50%;
        background-size: cover;
    }
}

/* medium and large devices*/
@media only screen and (min-width: 768px) {
    .btn {
        padding: 2rem 4.5rem;
        font-size: 2.5rem;
    }
}

/* extra large devices */
@media only screen and (min-width: 1200px) {
    .container-fluid {
        background: url('../images/quiz-bg-image.jpg') no-repeat 0% 85%;
        background-size: cover;
    }
}

/* extra extra large devices */
@media only screen and (min-width: 2560px) {
    .btn {
        padding: 2.5rem 5rem;
        font-size: 3rem;
    }

    .container-fluid {
        background: url('../images/quiz-bg-image.jpg') no-repeat 0% 80%;
        background-size: cover;
    }
}