/* --------------------------------------General */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #C3F2FD;
}

/* This class is required only to center the loader icon and will be removed when question card is loaded */
.full-screen {
    height: 100vh;
    width: 100vw;
}

/* This class is required only to center the loader icon and will be removed when question card is loaded */
.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Incorrect answer will be highlighted in red even when the answer is hovered at that moment */
.incorrect-answer {
    background-color: red !important;
}

/* Correct answer will be highlighted in green even when the answer is hovered at that moment */
.correct-answer {
    background-color: green !important;
}

/* ---------------------------------Question card page */
#question-card {
    align-items: center;
    height: 100vh;
}

.card {
    border-width: 2px;
    border-color: #596B7E;
}

.card-header {
    background-color: #C5CED9;
}

#question-section {
    padding: 0;
}

.list-group-item {
    cursor: pointer;
}

/* Hover options in the card. Source: https://css-tricks.com/solving-sticky-hover-states-with-media-hover-hover/ */
@media (hover: hover) {
    .list-group-item:hover {
        background-color: #a1edff;
    }
}

.option-numbering {
    display: inline;
    float: inline-start;
    border-radius: 10px;
    background-color: #FDC167;
    margin-right: 5px;
    padding: 10px;
}

.option-text {
    display: inline;
    float: inline-end;

}

hr {
    margin-top: 0;
}

#progress-section {
    color: mediumblue;
}

#correct-ans-txt {
    display: inline;
    float: left;
}

#qn-counter-txt {
    display: inline;
    float: right;
}

/* Create page loader, source: https://www.w3schools.com/howto/howto_css_loader.asp */
#loader {
    border: 12px solid #f3f3f3;
    /* Light grey */
    border-top: 12px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* -----------------------------Media queries for Question card page */
/* extra small devices: mobile S and M.
Only for this specific size the Correct answers counter and Questions counter will display on 2 separate lines with float: left */
@media only screen and (max-width: 375px) {
    #qn-counter-txt {
        display: inline;
        float: left;
    }
}

/* extra small and small devices */
@media only screen and (min-width: 0px) {
    .list-group-item {
        font-size: 1.25rem;
    }

    #progress-section {
        font-size: 1.125rem;
    }

    .card {
        width: 100%;
    }
}

/* medium and large devices*/
@media only screen and (min-width: 768px) {
    .list-group-item {
        font-size: 1.375rem;
    }

    #progress-section {
        font-size: 1.25rem;
    }

    .card {
        width: 80%;
    }
}

/* extra large devices */
@media only screen and (min-width: 1200px) {
    .card {
        width: 70%;
    }
}

/* extra extra large devices */
@media only screen and (min-width: 2560px) {
    .list-group-item {
        font-size: 1.625rem;
    }

    #progress-section {
        font-size: 1.625rem;
    }

    .card {
        width: 85%;
    }
}

/* ---------------------------------Finish quiz page */
h2 {
    color: blue;
    padding: 15px;
}

.btn {
    padding: 0.6rem 1.75rem;
    line-height: normal;
    border-radius: 1rem;
    background-color: #2160ff;
    box-shadow: 0 4px 0 0 #2f30e0;
    border: none;
    text-transform: uppercase;
    color: white;
    margin: 30px 0 30px 0;
}

.btn:hover {
    background-color: #217aff;
    color: white;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

/* ---------------------------------Media queries for Finish quiz page */
/* extra small and small devices */
@media only screen and (min-width: 0px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    #emailField {
        width: 100%;
    }

    .header-margin {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .btn {
        font-size: 1rem;
    }
}

/* medium, large and extra large devices (up to 2560px) */
@media only screen and (min-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    #emailField {
        width: 30%;
    }

    .header-margin {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .btn {
        font-size: 1.25rem;
    }
}

/* extra extra large devices (2560px and up) */
@media only screen and (min-width: 2560px) {
    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.5rem;
    }
}